#目标配置
配置目标高通max=y
CONFIG _ TARGET _ Qualcomm max _ ipq 60 xx = y
配置_目标_多配置文件=y
配置目标设备根文件系统=y
CONFIG _ TARGET _ DEVICE _ Qualcomm max _ ipq 60 xx _ DEVICE _ JD cloud _ re-ss-01 = y
CONFIG _ TARGET _ DEVICE _ PACKAGES _ Qualcomm max _ ipq 60 xx _ DEVICE _ JD cloud _ re-ss-01 = " ipq-wifi-JD cloud _ re-ss-01-kmod-ath 11k-PCI zram-swap luci-app-cupsd "
CONFIG _ TARGET _ root fs _ INITRAMFS = n

#交换
配置包交换=m

内核模块数量
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG _ PACKAGE _ kmod-netlink-diag = y
配置_包_kmod-inet-diag=y
配置_包_kmod-tls=y
配置_包_kmod-tun=y
# USB支持
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG _ PACKAGE _ kmod-USB-net-Huawei-CDC-ncm = y
CONFIG _ PACKAGE _ kmod-USB-net-iph eth = y
CONFIG _ PACKAGE _ kmod-USB-net-rndis = y
CONFIG _ PACKAGE _ kmod-USB-net-asix-ax 88179 = y
CONFIG _ PACKAGE _ kmod-USB-net-RTL 8152 = y
CONFIG _ PACKAGE _ kmod-USB-net-Sierra wireless = y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG _ PACKAGE _ kmod-USB-serial-高通=y
CONFIG _ PACKAGE _ kmod-USB-storage = y
CONFIG _ PACKAGE _ kmod-USB-storage-extras = y
CONFIG _ PACKAGE _ kmod-USB-storage-UAS = y
CONFIG_PACKAGE_kmod-usb2=y

#包
CONFIG _ PACKAGE _ ath 11k-firmware-qcn 9074-ddwrt = m
CONFIG_PACKAGE_htop=y
配置包熔丝实用程序=y
配置包ntfs3-mount=y
CONFIG _ PACKAGE _ OpenSSH-sftp-server = y
CONFIG_PACKAGE_tcpdump=y
配置包磁盘=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
配置包编码=y
CONFIG _ PACKAGE _ smartmontools-drivedb = y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
配置_包_ MII-工具=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_xz-utils=y

#启用Luci应用程序
CONFIG _ PACKAGE _ luci-app-auto reboot = y
CONFIG _ PACKAGE _ luci-app-cupsd = m
CONFIG _ PACKAGE _ luci-app-diskman = y
CONFIG _ PACKAGE _ luci-app-quick file = y
CONFIG _ PACKAGE _ luci-app-samba 4 = y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG _ PACKAGE _ luci-app-vlm CSD = y
CONFIG _ PACKAGE _ luci-app-Athena-led = m
CONFIG _ PACKAGE _ luci-i18n-Athena-led-zh-cn = m
CONFIG _ PACKAGE _ luci-app-docker man = y
CONFIG_PACKAGE_docker-ce=y
CONFIG _ PACKAGE _ docker-compose = y
CONFIG _ PACKAGE _ luci-i18n-docker man-zh-cn = y
CONFIG _ PACKAGE _ cgroupfs-mount = y
CONFIG_PACKAGE_kmod-cgroupfs=y
CONFIG _ PACKAGE _ kmod-br-netfilter = y
CONFIG _ PACKAGE _ luci-app-pass wall = y
CONFIG _ PACKAGE _ luci-i18n-pass wall-zh-cn = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ Xray = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ SingBox = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ Hysteria = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ DNS 2 socks = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ micro socks = y
CONFIG _ PACKAGE _ luci-app-pass wall _ INCLUDE _ Jq = y
CONFIG _ PACKAGE _ luci-app-smart DNS = y
配置_包_智能dns=y
CONFIG _ PACKAGE _ luci-i18n-smart DNS-zh-cn = y
CONFIG _ PACKAGE _ luci-app-ddns-go = y
CONFIG_PACKAGE_ddns-go=y
CONFIG _ PACKAGE _ luci-i18n-ddns-go-zh-cn = y
